{% extends "_base.html.jinja2" %}
{% block title %}Note Application | Edit Note{% endblock %}
{% block body %}
    <div class="grid grid--site-form site-form">
        <h1 class="site-form__title">Edit Note</h1>
        <div class="site-form__content site-form__content--create-edit">
            <form class="form grid grid--form" action="" method="post">
                <div class="form-fields">
                    <div class="form-group">
                        <label class="form-group__label" for="title">Title</label>
                        <input class="form-group__input" type="text" name="title" id="title" value="{{ note.title }}">
                    </div>
                    <div class="form-group">
                        <label class="form-group__label" for="body">Body</label>
                        <textarea class="form-group__input form-group__input--textarea"
                                  name="body"
                                  id="body">{{ note.body }}</textarea>
                    </div>
                </div>
                <button type="submit"
                        class="button button--primary button--nav site-form__action-btn site-form__action-btn--save form__button">
                    Save
                </button>
            </form>
        </div>
    </div>
{% endblock %}