{% extends "_base.html.jinja2" %}
{% block title %}Note Application | Introduction{% endblock %}
{% block body %}
    <div class="grid grid--introduction introduction">
        <h1 class="introduction__title">Introduction</h1>
        <img src="img/me.jpg" alt="" class="introduction__img">
        <div class="introduction__about-me">
            <p>Hello my name is Alex Lowe, I am senior Computer Science student from Charlotte, NC. I am the oldest
                child of
                three. I have two younger sisters one who is a Sophomore Soccer Player at Elon University and the
                youngest is a
                senior in high school who is going to Boston College in the fall. I originally got interested in CS
                because my
                father is an exec at a small/medium software company that does replay for college sports including our
                own ECU
                Football and Basketball. I would always end up getting to play around with the old hardware when their
                clients
                updated to the newest systems. I loved installing different distributions of Linux and learn the many
                commands.</p>
            <p>Over the next couple of years from that point I started playing around with software and hardware I
                learned HTML,
                CSS, and JavaScript after installing Apache on one of my Linux machines. From there I took to learning
                about the
                backend of development with PHP and ColdFusion. I got so good at it that I worked with a freelancer for
                a couple
                of years before working for my self creating web applications for client and setting up their server
                infrastructure to run their web applications. From there I just kept learning about different attributes
                of CS
                and Software Engineering and well the rest is history</p>
            <p>The reason I chose the Web Applications course is because I have plenty of experience with building web
                applications, and I have always found it interesting and always willing to learn more about it.</p>
        </div>
    </div>
{% endblock %}